<ion-header>
  <ion-toolbar>
    <ion-title>YOSHII</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-text color="primary">
    <br /><br />
    <h1 style="text-align: center; ">What do you want to do today?</h1>
  </ion-text>
  <br /><br />
  <ion-button expand="block"><ion-icon name="add-circle"></ion-icon><span>ADD CUSTOMER</span></ion-button>
  <br /><br />
  <ion-button  expand="block"><ion-icon class="ic" name="eye"></ion-icon><span>VIEW LIST OF CUSTOMER</span></ion-button>
</ion-content>
